* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Maven Pro", sans-serif;
}
body {
  background-color: black;
}
.container1 > img {
  width: 1512px;
  height: 100vh;
  object-fit: fill;
  position: absolute;
  z-index: 1;
}
.container1-text {
  position: relative;
  color: #ffffff;
  z-index: 5;
}
