.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 200px;
    background-color: aqua;
    border: 1px solid grey;
    border-radius: 20px;
    margin: auto;
}